@media screen and (min-width: 768px) and (max-width: 992px){
  body{ background-image: linear-gradient(to top, #62854A, #DB8958); }

  section#login{
    width: 80vw;
    height: 520px;
  }

  #image{ float:left; width:30%; height:100%; }
  #form{  float:right; width:70%; padding:20px; }
}

@media screen and (min-width: 992px){
  body{ background-image: linear-gradient(to top, #62854A, #DB8958); }

  section#login{
    width: 980px;
    height: 520px;
  }

  #image{ float:right; width:40%; height:100%; }
  #form{  float:left;  width:60%; padding:22px; }

  #form p{ font-size:1.05rem; line-height:1.45; }
}
