@charset "UTF-8";

/*

Colors pallete:
#62854A Fern green
#DB8958 Persian orange
#D8E2DC Platinum
#ffffff White

*/

* 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html 
{
    background-color: #D8E2DC;
    height: 100vh;
    width: 100vw;
}

main
{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color:  #ffffff;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 3px #0000003b;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#image 
{
    display: block;
    background: #ffffff url(../images/pexels-sofia-fraire-693254-31038107.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
}

section#login > div#form 
{
    display: block;
    padding: 15px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}